* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #000915;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 1024px;
    background-image: url(img/Rectangle\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 217px;

    &__content_title {
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        color: #FFFFFF;
    }

    &__content_slogan {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        padding-top: 32px;
        padding-bottom: 44px;

    }

    &__content_button {
        background: #9C0332;
        border-radius: 30px;
        width: 234px;
        height: 48px;
        border: none;
        outline: none;
        box-sizing: border-box;
    }

    &__content_button_text {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
    }
}

.games {
    background-image: url(img/Rectangle\ 5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    &__title {
        padding-left: 32px;
        padding-bottom: 32px;
    }

    &__item {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 300px;
        width: 378px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        display: flex;
        align-items: flex-start;
        align-self: flex-end;
        flex-direction: column-reverse;
        border-radius: 18px;

    }

    &__item_1 {
        background-image: url(img/Rectangle\ 6.png);
    }

    &__item_2 {
        background-image: url(img/Rectangle\ 7.png);
    }

    &__item_3 {
        background-image: url(img/Rectangle\ 8.png);
    }
}