* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #000915;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    background-image: url(img/Rectangle\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 217px;
    padding-bottom: 493px;

    &__content_title {
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        color: #FFFFFF;
    }

    &__content_slogan {
        width: 481px;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        padding-top: 32px;
        padding-bottom: 44px;

    }

    &__content_button {
        background: #9C0332;
        border-radius: 30px;
        width: 234px;
        height: 48px;
        border: none;
        outline: none;
        box-sizing: border-box;
    }

    &__content_button_text {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
    }
}

.games {
    background-image: url(img/Rectangle\ 5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    padding-top: 128px;
    padding-bottom: 128px;

    &__title {
        padding-left: 32px;
        padding-bottom: 32px;
    }

    &__item {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 300px;
        width: 378px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        display: flex;
        align-items: flex-start;
        align-self: flex-end;
        flex-direction: column-reverse;
        border-radius: 18px;

    }

    &__item_1 {
        background-image: url(img/Rectangle\ 6.png);
    }

    &__item_2 {
        background-image: url(img/Rectangle\ 7.png);
    }

    &__item_3 {
        background-image: url(img/Rectangle\ 8.png);
    }
}

.seasons__box {
    display: flex;
    padding-top: 282px;
    padding-bottom: 290px;
    justify-content: space-between;
}

.words__box {
    display: flex;
    padding-top: 282px;
    padding-bottom: 290px;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.seasons,
.words {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;
    width: 584px;
    background-image: url(img/Rectangle\ 66.png);


    &__title {
        color: #FFFFFF;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
    }

    &__description {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
    }

    &__button {
        width: 234px;
        height: 48px;
        left: 0px;
        top: 187px;
        background: #9C0332;
        border-radius: 30px;
        border: none;
        outline: none;
        box-sizing: border-box;

        &__text {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
        }
    }
}

.seasons__item {
    width: 485px;
    height: 333px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(img/undraw_video_game_night_8h8m\ 1.png)
}

.words__item {
    width: 485px;
    height: 333px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(img/undraw_gaming_re_cma2\ 1.png);
}

@import 'mobile';